@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Denike-Regular";
  src: local("Denike-Regular"),
    url("./assets/fonts/Denike-Regular.ttf") format("truetype");
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');

.ultra {
  font-family: 'Asset', cursive;
}

html * {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFF9E5;
  margin: 0;
  padding: 0;
}

.main-svg {
  position: absolute;
  text-shadow: 2px 2px 8px #FF0000;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
